name: Auto Merge

on:
  workflow_dispatch:
  pull_request:
    branches: [ main ]

jobs:
  auto-merge:
    if: ${{ github.head_ref == 'chore/update-nix-fetch-git' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: ${{ secrets.CPR_APP_ID }}
          private-key: ${{ secrets.CPR_APP_PRIVATE_KEY }}

      - name: Enable Pull Request Automerge
        run: gh pr merge --squash --auto ${{ github.event.number }}
        env:
          GH_TOKEN: ${{ steps.generate-token.outputs.token }}
