name: Build

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Install Nix
        uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - run: nix build .#nixosConfigurations.mothership.config.system.build.toplevel

  intel-macos:
    # runs-on: macos-12 # drachenflieger is on this version but runner deprecated
    runs-on: macos-13
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Install Nix
        uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - run: nix build .#darwinConfigurations.drachenflieger.config.system.build.toplevel

  arm-macos:
    runs-on: macos-26
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Install Nix
        uses: cachix/install-nix-action@fd24c48048070c1be9acd18c9d369a83f0fe94d7 # v31
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - run: nix build .#darwinConfigurations.MacBook-Pro-2.config.system.build.toplevel

      - run: nix build .#darwinConfigurations.damascus.config.system.build.toplevel
