name: Cachix

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'

jobs:
  linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Setup Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: anthonyenr1quez
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix flake archive

      - run: nix build .#nixosConfigurations.mothership.config.system.build.toplevel

  intel-macos:
    # runs-on: macos-12 # drachenflieger is on this version but runner deprecated
    runs-on: macos-15-intel
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Setup Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: anthonyenr1quez
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix build .#darwinConfigurations.drachenflieger.config.system.build.toplevel

  arm-macos:
    runs-on: macos-26
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Setup Cachix
        uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: anthonyenr1quez
          authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}

      - run: nix build .#darwinConfigurations.MacBook-Pro-2.config.system.build.toplevel

      - run: nix build .#darwinConfigurations.damascus.config.system.build.toplevel
