name: "update-nix-fetchgit"

on:
  workflow_dispatch:
  schedule:
   - cron: "22 9 * * 0"
  push:
    branches:
      - main
    paths:
      - ".github/workflows/update-nix-fetchgit.yaml"

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: ${{ secrets.CPR_APP_ID }}
          private-key: ${{ secrets.CPR_APP_PRIVATE_KEY }}

      - name: Install Nix
        uses: cachix/install-nix-action@0b0e072294b088b73964f1d72dfdac0951439dbd # v31.8.4
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: workflow/nix-shell-action@5fdff26c1325df635247f72cba79ffc370303fdb # v3.4.0
        with:
          packages: fd,update-nix-fetchgit
          script: |
            fd .nix --exec update-nix-fetchgit --only-commented || true

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@84ae59a2cdc2258d6fa0732dd66352dddae2a412 # v7.0.9
        with:
          token: ${{ steps.generate-token.outputs.token }}
          sign-commits: true
          commit-message: Update fetchgit* refs
          title: 'Update fetchgit* refs'
          draft: false
          branch: chore/update-nix-fetch-git
          delete-branch: true
